#navbar {
  background-color: rgb(255, 166, 77);
  height: 150px;
  width: 100%;
  float:left;
}

#logo {
  float: left;
  margin: 15px;
}

ul {
  list-style-type: none;
  float: left;
}
