#navbar {
  background-color: rgb(255, 166, 77);
  height: 150px;
  width: 100%;
  padding: 0px;
  float:left;
}

#logo {
  float: left;
  margin: 15px;
}

#navbtns {
  list-style-type: none;
  float: left;
  margin:0px;
}

#navbtns li {
  list-style-type: inherit;
  float: inherit;

  margin-left: 0px;
  margin-right: 0px;
  margin-top: 25px;
  margin-bottom:25px;
  border-width: 5px;
  border-color: rgb(217, 217, 217);
  padding: 45px;
  height: 10px;
}
